annotated-types
anyio
certifi
cffi
charset-normalizer
click
distro
groq
gTTS
h11
httpcore
httpx
numpy
pydantic
pydantic_core
pydub
requests
scipy
sniffio
sounddevice
typing_extensions
urllib3
wavio
idna
pycparser